<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @agencium.nombre %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @agencium.mail %>
</p>

<p>
  <strong>ContraseÇña:</strong>
  <%= @agencium.contraseÇña %>
</p>

<%= link_to 'Edit', edit_agencium_path(@agencium) %> |
<%= link_to 'Back', agencia_path %>
