<%= form_for(actividad) do |f| %>
  <% if actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar %>
  </div>

  <div class="field">
    <%= f.label :precio %>
    <%= f.number_field :precio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
