<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @turistum.nombre %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @turistum.mail %>
</p>

<p>
  <strong>ContraseÇña:</strong>
  <%= @turistum.contraseÇña %>
</p>

<%= link_to 'Edit', edit_turistum_path(@turistum) %> |
<%= link_to 'Back', turista_path %>
